.title {
    margin: 25px 0;
}

.contactsList {
    /* margin-left: 45px; */
}

.item {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    width: 320px;
    display: flex;
    justify-content: space-between;
}